{{ partial "header.html" . }}
<div class="article-meta">
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  <!-- {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
  {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }} -->
  <hr/>
  {{ with .Params.author }}Author:{{ . }}{{ end }}
  {{ if (gt .Params.date 0) }} | Time:{{ .Date.Format "2006/01/02" }}{{ end }}
  {{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}
     | Categories:
    {{ range $index, $value := . }}
    <a class="badge badge-light" href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  {{ $taxonomy := "tags" }}{{ with .Param $taxonomy }}
     | Tags:
    {{ range $index, $value := . }}
    <a class="badge badge-light" href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
    {{ end }}
  {{ end }}
</div>
<main>
{{ .Content }}
</main>

{{ partial "post_nav.html" . }}

{{ partial "footer.html" . }}