{{ partial "header.html" . }}
<div class="article-meta">
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  <hr/>
  {{ with .Params.author }}<span class="title-meta">By</span> {{ . }}{{ end }}
  {{ if (gt .Params.date 0) }} | <span class="title-meta">Time:</span>{{ .Date.Format "2006/01/02" }}{{ end }}
  {{ $taxonomy := "categories" }}{{ with .Param $taxonomy }}
     | <span class="title-meta">Categories:</span>
    {{ range $index, $value := . }}
    <a class="badge badge-light" href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  {{ $taxonomy := "tags" }}{{ with .Param $taxonomy }}
     | <span class="title-meta">Tags:</span>
    {{ range $index, $value := . }}
    <a class="badge badge-light" href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
    {{ end }}
  {{ end }}
</div>
<main>
{{ .Content }}
</main>

{{ if (.Params.gitment) }}
<div id="git-comments"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: '{{ .Slug }}',  // 可选, 默认为 location.href
    owner: 'markshih91',
    repo: 'markshih91.github.io',
    oauth: {
      client_id: '94d1c3621be76900cdf3',
      client_secret: '10a6128caf6e883e40f2e14000a53a29a1ca394a',
    }
  })
  gitment.render('git-comments')
</script>
{{ end }}

{{ partial "post_nav.html" . }}

{{ partial "footer.html" . }}